@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #000;
  color: #fff;
}
* {
  cursor: none;
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: #ff1a1a;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999999;
}
a:hover ~ #custom-cursor,
button:hover ~ #custom-cursor {
  transform: scale(1.2);
}
